<div class="container">

	<div class="row justify-content-center mb-3" id="title">
		<div class="col-md-8 text-center">
			<h1>{{title}}</h1>
		</div>
		<!-- /.col mb-2 -->
	</div>
	<!-- /#title.row -->

	<div class="row justify-content-center mb-3" id="input_row">
		<div class="col-md-8">
			<div class="card">
				
				<div class="card-body">
					<form action="/whois">
						<div class="form-group">
							<input name="domain" type="text" class="form-control form-control-lg">
						</div>
						<button type="submit" class="btn btn-outline-primary btn-lg float-right"><span class="fa fa-search fa-fw"></span></button>
					</form>
				</div>
				<!-- /.card-body -->

			</div>
		</div>
	</div>
	<!-- /#input_row.row justify-content-center -->

	{{#if response}}
	<div class="row justify-content-center mb-1" id="result">
		<div class="col-md-8">
			<div class="alert text-center {{#if response.success}}alert-warning{{else}}alert-success{{/if}}">{{response.result}}</div>
		</div>
	</div>
	<!-- /#result.row -->
	{{/if}}

	<div class="row justify-content-center" id="extended_results">
		<div class="col-md-8 mb-0">
			<div class="card">

				<div class="card-body">
					<dl class="row mb-0">
						{{#each response.fields}}
						<dt class="col-sm-4">{{key}}</dt>
						<dd class="col-sm-8">{{value}}</dd>
						{{/each}}
					</dl>
				</div>
				<!-- /.card-body -->

			</div>
		</div>
	</div>
	<!-- /#extended_results.row justify-content-center -->

</div>
<!-- /.container -->
